# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.idea
/whitepaper/*
/build/
/cmake-build-debug/
.vscode/launch.json
.vscode/tasks.json
CMakePresets.json
.vscode/settings.json
persist/*
sim_results/*
arb_results.csv
scripts/__pycache__/*
CLAUDE.md
/.claude/
/vm/*
.DS_Store
